/* CCS INDEX */

.hero-section {
  height: 616px;
  background-image: url(./images/home-mobile.png);
  background-size: cover;
}

@media (min-width: 768px) {
  .hero-section {
    background-image: url(./images/home-desktop.png);
  }
}

.hero-section__title,
.hero-section__subtitle {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

.hero-section__titles {
  padding-top: 150px;
}

.hero-section__title {
  font-size: 48px;
}

.hero-section__subtitle {
  font-size: 32px;
}

.about-me-section {
  background-color: #141414;
  height: 538px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-section__title {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.about-me-section__info {
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 46px;
}

.about-me-section__container {
  padding: 55px 32px;
}

.about-me-section__img {
  display: none;
}

@media (min-width: 768px) {
  .about-me-section__img {
    display: initial;
    align-self: flex-end;
  }
  .about-me-section {
    background-color: #ffffff;
  }

  .about-me-section__title {
    color: #2c2c2c;
  }

  .about-me-section__info {
    color: #2c2c2c;
    font-size: 24px;
    text-align: initial;
    margin-bottom: 0;
    margin-top: 25px;
  }

  .about-me-section__container {
    padding: 55px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 610px;
  }
}

.services-section {
  background-color: #fafafa;
  padding: 68px 52px;
}

.services-section__title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.services-section__item {
  max-width: 262px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.services-section__item-img {
  width: 138px;
  height: 128px;
}

.services-section__item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.services-section__item-info {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }
}

/* CONTACT CSS */

.custom-contact {
  min-height: 660px;
  background-color: #141414;
  padding: 70px 20px;
}

.custom-contact__title {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.custom-contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 376px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .custom-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .custom-contact__form {
    margin: initial;
    min-width: 376px;
  }

  .custom-contact__title {
    font-size: 48px;
    margin-right: 77px;
  }
}

.custom-contact__name-label {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  font-weight: 400;
  font-size: 13px;
}
.custom-contact__name-input {
  height: 45px;
  margin-bottom: 27px;
}
.custom-contact__email-label {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  font-weight: 400;
  font-size: 13px;
}
.custom-contact__email-input {
  height: 45px;
  margin-bottom: 27px;
}
.custom-contact__textarea-label {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  font-weight: 400;
  font-size: 13px;
}
.custom-contat__textarea-input {
  height: 113px;
  margin-bottom: 71px;
}
.custom-contact__btn {
  background-color: #2c2c2c;
  color: #dbdbdb;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/* footer CSS */

.custom-footer {
  background-color: #2c2c2c;
  padding: 150px 90px;
}

.custom-footer__title {
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.custom-footer__social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-footer__ig-anchor {
  font-family: "Poppins", sans-serif;
  color: #dbdbdb;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 22px;
  text-align: end;
  text-decoration: none;
}
.custom-footer__linkedin-anchor {
  font-family: "Poppins", sans-serif;
  color: #dbdbdb;
  font-weight: 400;
  font-size: 16px;
  min-width: 118px;
  margin-bottom: 22px;
  text-align: end;
  text-decoration: none;
}
.custom-footer__github-anchor {
  font-family: "Poppins", sans-serif;
  color: #dbdbdb;
  font-weight: 400;
  font-size: 16px;
  min-width: 118px;
  text-align: end;
  text-decoration: none;
}

.custom-footer__icon {
  filter: unset;
  -webkit-filter: invert(100%);
  width: 27px;
  height: 27px;
}

@media (min-width: 768px) {
  .custom-footer {
    display: flex;
    justify-content: space-between;
    padding: 102px 90px;
  }
}
